@import url("https://fonts.googleapis.com/css2?family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'nunito sans';
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
}
h1 {
	font-family: 'notable';
	font-weight: lighter;
}

h2 {
	font-family: 'notable';
	font-weight: lighter;
	font-size: 20px
}

h3 {
	font-family: "poppins";
	font-weight: lighter;
	font-size: 15px;
}
a {
	text-decoration: none;
	font-size: 15px;

}